.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?
      - @docs.each do |doc|
        %a{ href: (url_for [doc])}
          .doc
            %p= link_to doc.title, doc
            %p= truncate(doc.content, length:50)
            %p= time_ago_in_words(doc.created_at)

    - else
      %h2 Create Doc!
      %p Start Creating Documents and Organizing your life!
      %button= link_to "Create Doc", new_doc_path
